<template>
  <svg
    :width="props.size"
    :height="props.size"
    viewBox="0 0 32 32"
  >
    <slot />
  </svg>
</template>

<script lang="ts" setup>
const props = defineProps({
  /** 图标大小 */
  size: {
    type: String,
    default: '24',
  },
})
</script>

<style scoped>
svg {
  display: inline-block;
  vertical-align: baseline;
}
</style>
