<script setup lang="ts">
import { renderIconWithName } from '@/utils/render';

const { execute } = useAPI('/api/user/menus').get().json()

const menus = [
  {
    title: '首页',
    icon: 'IconDashboardFilled'
  },
  {
    title: '系统管理',
    icon: '',
    children: [
      {
        title: '用户管理',
        icon: 'IconUserFilled'
      },
      {
        title: '角色管理',
        icon: 'IconShieldFilled'
      },
      {
        title: '菜单管理',
        icon: 'IconShieldFilled',
      },
      {
        title: '字典管理',
        icon: 'IconBookFilled'
      }
    ]
  }
]
onMounted(async () => await execute())
</script>

<template>
  <ElMenu>
    <template v-for="(menu, index) in menus" :key="index">
      <ElSubMenu v-if="menu.children" :index="index.toString()">
        <template #title>
          <component :is="renderIconWithName(menu.icon)" />
          {{ menu.title }}
        </template>
        <ElMenuItem v-for="(submenu, subIndex) in menu.children" :key="subIndex" :index="subIndex.toString()">
          <template #default>
            <component :is="renderIconWithName(submenu.icon)" />
            {{ submenu.title }}
          </template>
        </ElMenuItem>
      </ElSubMenu>
      <ElMenuItem v-else>
        <template #default>
          <component :is="renderIconWithName(menu.icon)" />
          {{ menu.title }}
        </template>
      </ElMenuItem>
    </template>
  </ElMenu>
</template>
