<script setup lang="ts">
import { useAppStore } from './stores/app';

const appStore = useAppStore()
</script>

<template>
  <ElConfigProvider
    :locale="appStore.locale"
    :size="appStore.size"
    :global="true"
  >
    <RouterView />
  </ElConfigProvider>
</template>
