<script setup lang="ts">
import { useAPI } from '@/composables/useAPI';

const payload = reactive({
  username: '',
  password: ''
})

const { execute, isFetching } = useAPI('/api/login').post(payload).json()

async function handleSubmit() {
  await execute()
}
</script>

<template>
  <section class="w-screen h-screen flex justify-center items-center">
    <div class="min-w-80 max-w-96 px-4 flex-1">
      <ElForm>
        <ElFormItem>
          <ElInput v-model="payload.username">
            <template #prefix>
              <ElIcon>
                <IconTablerUser />
              </ElIcon>
            </template>
          </ElInput>
        </ElFormItem>
        <ElFormItem>
          <ElInput
            v-model="payload.password"
            type="password"
            show-password
          >
            <template #prefix>
              <ElIcon>
                <IconTablerLockPassword />
              </ElIcon>
            </template>
          </ElInput>
        </ElFormItem>
        <ElFormItem>
          <ElButton
            type="primary"
            class="w-full"
            :loading="isFetching"
            @click="handleSubmit"
          >
            登录
          </ElButton>
        </ElFormItem>
      </ElForm>
    </div>
  </section>
</template>
