<template>
  <ElContainer>
    <ElAside>
      <TheAside />
    </ElAside>
    <ElContainer>
      <ElHeader>
        <TheHeader />
      </ElHeader>
      <ElMain>
        <RouterView />
      </ElMain>
      <ElFooter>
        <TheFooter />
      </ElFooter>
    </ElContainer>
  </ElContainer>
</template>
